* {
  box-sizing: border-box;
}

:root {
  --spacing-s: 0.75rem;
  --spacing: 1rem;
  --spacing-l: 1.5rem;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 100%;
}

h3,
h4 {
  font-weight: 500;
  margin-block: var(--spacing-s);
}

h2 {
  margin: 0;
}

strong {
  font-weight: 600;
}

.print-container {
  max-width: 21cm;
  min-height: 29.7cm;
  padding: 10mm 0 10mm 0;
  margin-block: var(--spacing-l);
  margin-inline: auto;
  border: 1px solid black;
}

@media print {
  .print-container {
    border: none;
    margin-block: none;
  }
}

.print-container {
  display: grid;
  row-gap: var(--spacing);
  grid-template-columns: minmax(0, 15mm) repeat(3, 1fr) minmax(0, 20mm);
  > * {
    grid-column: 2 / 5;
  }
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: blue;
}

ul {
  list-style: square;
  padding-inline-start: var(--spacing-l);
  margin-block: 0;
  & li:not(:last-child) {
    padding-block-end: var(--spacing-s);
  }
}

header {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

h1 {
  margin-top: var(--spacing-s);
}

.tech-and-lang {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: var(--spacing);
  row-gap: var(--spacing-s);
  > * {
    margin: 0;
  }
}

.tech-and-lang > :nth-child(odd) {
  color: lightslategray;
}

address {
  grid-column: 3;
  > * {
    margin-block: 0.2rem;
  }
}

.place-and-date-item {
  display: grid;
  grid-column: 1 / -2;
  grid-template-columns: subgrid;
  > * {
    grid-column: 2 / -1;
  }
}

.place-and-date-item > hgroup {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-items: end;
  padding-block: var(--spacing);
  background: hsl(350 100% 88% / 0.2);
  > * {
    margin-block: 0;
  }
  &:before {
    content: "";
  }
}

.no-break {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  row-gap: var(--spacing);
  break-inside: avoid;
  > h2 {
    grid-column: 2;
  }
}

.project-description {
  background: hsl(350 100% 88% / 0.2);
  padding-inline: var(--spacing);
}
